<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Roadmap</h4>
            <ul class="timeline">
                @foreach(var item in Items)
                {
                    <li>
                        <p>@item.Name</p>
                        <p class="float-right">@item.Achievement</p>
                        <p>@item.Description</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@code{
    [Parameter]
    public IEnumerable<TimelineItem> Items { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if(Items == null)
        {
            List<TimelineItem> defaultList = new();
            defaultList.Add(new TimelineItem()
                {
                    Name = "Private Mint",
                    Achievement = "Feb 2022",
                    Description = "Private minting will be availabe. Join the discord and whitelist to be part of it."
                });
            defaultList.Add(new TimelineItem()
                {
                    Name = "Public Mint",
                    Achievement = "Mar 2022",
                    Description = "Minting will be avaible to the public."
                });
            defaultList.Add(new TimelineItem()
                {
                    Name = "Givaways",
                    Achievement = "100% minted",
                    Description = "T-shirts for everyone who owns a BB Beast. Bigger prizes for those who own ever more rare beasts."
                });
            defaultList.Add(new TimelineItem()
                {
                    Name = "Future project access",
                    Achievement = "June 2022",
                    Description = "Early access to our other future projects."
                });
             Items = defaultList;
        }
    }
}
