@inherits LayoutComponentBase

<PageTitle>BB Beast</PageTitle>

<HxAnchorFragmentNavigation />
<HxMessenger Position="ToastContainerPosition.TopCenter" />

<NavMenu />
<div class="container mt-3">
    @Body
</div>
