@page "/"

@using BBBeastUI.Pages.Index.Components

<div class="container">
    <div class="flex-row d-flex align-items-center">
        <div class="col-md-6">
            <BeastCarousel />
        </div>
        <div class="col-md-6 ms-5">
            <h1>BBBEAST</h1>
            <p>
                BB Beast is a collection of 9,999 ERC-721 (NFT) tokens deployed on the Ethereum blockchain.
                All of the attributes of the beasts are hand drawn and are randomly generated to create the beasts that you see.
            </p>

@*            @if(_ProjectState.PublicSaleLive || _ProjectState.PublicSaleLive)
            {
                <p>Minting is now live!</p>
                <a href="/mint">
                    <HxButton Text="Mint" Color="ThemeColor.Primary" />
                </a>
            }
            else if(_ProjectState.SoldOut)
            {
                <p>We are now sold out. Check us out on a secondary market!</p>
                <a href="https://testnets.opensea.io/collection/bbbeast">
                    <HxButton Text="OpenSea" Color="ThemeColor.Primary" />
                </a>
            }
            else
            {
                <p>Minting coming soon!</p>
            }*@
            <p>There is only going to be 1 options here based on the status.</p>
            <p>1. Private sale or Minting is live</p>
            <p>Minting is now live!</p>
            <a href="/mint">
                <HxButton Text="Mint" Color="ThemeColor.Primary" />
            </a>

            <br/>
            <p>2. We sold out. Check show open sea</p>
            <p>We are now sold out. Check us out on a secondary market!</p>
            <a href="https://testnets.opensea.io/collection/bbbeast">
                <HxButton Text="OpenSea" Color="ThemeColor.Primary" />
            </a>

           <br/>
           <p>3. Minting not started yet</p>
            <p>Minting coming soon!</p>
        </div>
    </div>

    <div id="roadmap" class="row mt-5">
        <Timeline />
    </div>

    <div id="team" class="row mt-5">
        <Team />
    </div>
</div>

@code{
    [Inject]
    protected ProjectState _ProjectState { get; set; }
}
