@page "/"

<div id="intro" class="row">
    <div class="col-md-5">
        <img class="mb-4 img-fluid" src="/assets/BBBeast_Header.png" alt="">
        <p>
            BB Beast is a collection of 9,999 ERC-721 (NFT) tokens deployed on the Ethereum blockchain.
            All of the attributes of the beasts are hand drawn and are randomly generated to create the beasts that you see.
        </p>

        <p>Visit us on <a href="https://testnets.opensea.io/collection/bbbeast">OpenSea</a>!</p>
    </div>
    <div class="col-md-7">
        <BeastCarousel />
    </div>
</div>

<div id="roadmap" class="row mt-5">
    <Timeline />
</div>

<div id="team" class="row mt-5">
    <Team />
</div>

