<div class="container">
	<div class="row">
		<h1>FAQ</h1>

		<HxCollapseToggleElement ElementName="div" CollapseTarget="#q1" CssClass="btn-primary p-3" role="button">
			What is a BBBeast?
			<HxIcon Icon="BootstrapIcon.ArrowDown" />
		</HxCollapseToggleElement>
		<HxCollapse Id="q1">
			<HxCard>
				<BodyTemplate>
					Some placeholder content for the collapse component.
					This panel is hidden by default but revealed when the user activates the relevant trigger.
				</BodyTemplate>
			</HxCard>
		</HxCollapse>

		<HxCollapseToggleElement ElementName="div" CollapseTarget="#q2" CssClass="btn-primary p-3" role="button">
			What is the total supply?
			<HxIcon Icon="BootstrapIcon.ArrowDown" />
		</HxCollapseToggleElement>
		<HxCollapse Id="q2">
			<HxCard>
				<BodyTemplate>
					There will be a total of 10,000 BBBeasts minted.
				</BodyTemplate>
			</HxCard>
		</HxCollapse>

		<HxCollapseToggleElement ElementName="div" CollapseTarget="#q3" CssClass="btn-primary p-3" role="button">
			What will it cost to mint a BBBeast?
			<HxIcon Icon="BootstrapIcon.ArrowDown" />
		</HxCollapseToggleElement>
		<HxCollapse Id="q3">
			<HxCard>
				<BodyTemplate>
					During the private mint it will cost 0.04 ETH and the public mint will be 0.06 ETH.
				</BodyTemplate>
			</HxCard>
		</HxCollapse>

		<HxCollapseToggleElement ElementName="div" CollapseTarget="#q3" CssClass="btn-primary p-3" role="button">
			How many BBBeasts can I mint?
			<HxIcon Icon="BootstrapIcon.ArrowDown" />
		</HxCollapseToggleElement>
		<HxCollapse Id="q3">
			<HxCard>
				<BodyTemplate>
					You are able to mint up to 10 BBBeasts per address.
				</BodyTemplate>
			</HxCard>
		</HxCollapse>
	</div>
</div>