@page "/mint"

@using BBBeastUI.Pages.Minting.Components

@inject Web3Options _web3Options

<div class="container" style="height:81.75vh;">
    <div class="row align-items-start">
        <h1>MINTING</h1>
        <p>Get your BB Beast here. Minting costs 0.06 ETH per Beast. You can mint up to 10 per address.</p>
        <p>Connect your wallet and start minting now.</p>
        <p>Verified Contract Address: <a href="https://rinkeby.etherscan.io/address/@_web3Options.ContractAddress" target="_blank">@_web3Options.ContractAddress</a></p>
    </div>
    <div class="row">
        <div class="col-4">
            <WalletInteraction />
        </div>
    </div>
</div>
