<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Roadmap</h4>
            <ul class="timeline">
                <li>
                    <p>0%</p>
                    <p class="float-right">Private minting will be available. Join the discord and whitelist to be part of it.</p>
                </li>
                <li>
                    <p>25%</p>
                    <p class="float-right">Airdrops to holders</p>
                </li>
                <li>
                    <p>50%</p>
                    <p class="float-right">Rare airdrops, cash prizes to holders</p>
                </li>
                <li>
                    <p>75%</p>
                    <p class="float-right">More rare airdrops, and bigger cash prizes to holders</p>
                </li>
                <li>
                    <p>100%</p>
                    <p class="float-right">Grand cash prizes to holders.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
