@if (_contractState == NFT.Contract.Query.ContractState.NotLive)
{
    <label>Minting not yet live. Join the <a href="@Links.DISCORD">discord</a> for updates on minting.</label>
}
else if (isLoading)
{
    <HxPlaceholder Columns=5 Size=PlaceholderSize.Large />
}
else if (!hasMetaMask)
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}
else if (string.IsNullOrEmpty(selectedAddress))
{
    <p>Please connect your wallet</p>
}
else if (_web3Options.ChainId != chainId)
{
    <p>Wrong network selected. Please change to Mainnet</p>
}
else
{
    <div class="d-flex flex-column align-items-center">
        @switch (_contractState)
        {
            case NFT.Contract.Query.ContractState.Private:
                <h3>Private Mint</h3>
                break;

            case NFT.Contract.Query.ContractState.Public:
                <h3>Public Mint</h3>
                break;
        }
        <label>Amount to Mint</label>
        <div class="d-flex flex-row my-4">
            <div style="cursor: pointer;"><HxIcon Icon=FontAwesomeIcon.MinusCircle @onclick=MinusCount CssClass="fa-4x mx-3" /></div>
            <h2 class="mx-3 pt-2" style="font-family: monospace;">@mintCount</h2>
            <div style="cursor: pointer;"><HxIcon Icon=FontAwesomeIcon.PlusCircle @onclick=AddCount CssClass="fa-4x mx-3" /></div>
        </div>
        <button class="btn btn-primary" type="button" @onclick="Mint" disabled=@(accountMinted == null || accountMinted == _web3Options.MaxMintCount)>Mint</button>
    </div>
}
<TransactionModel @ref=_transactionModel />