@if (!hasMetaMask)
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}
else if (string.IsNullOrEmpty(selectedAddress))
{
    <button class="btn btn-primary w-20" @onclick="ConnectWallet">Connect Wallet</button>
}
else if (_web3Options.ChainId != chainId)
{
    <p>Wrong network selected. Please change to @_web3Options.Network</p>
}
else
{
    <p>Create minting transaction below</p>
    <p>Selected Address: @selectedAddress</p>

    @if(accountMinted == null)
    {
        <p>Loading mint count</p>
    }
    else if(accountMinted == -1)
    {
        <p>Failed to load mint count</p>
    }
    else
    {
        <p>Minted: @accountMinted / @_web3Options.MaxMintCount</p>
    }
    
    <div class="container">
        <div class="row">
            <label>Amount to Mint</label>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="input-group">
                    <input type="number" class="form-control" @bind="mintCount" @bind:event="oninput" min="0" max="@(mintLeft == -1 ? int.MaxValue : mintLeft)" step="1" />
                     <div class="input-group-append">                    
                        <button class="btn btn-primary" type="button" @onclick="Mint" disabled=@(accountMinted == null || accountMinted == _web3Options.MaxMintCount)>Mint</button>
                    </div>   
                </div>          
            </div>
        </div>
    </div>
}