<footer>
    <div class="d-flex align-items-center h-100">
        <img src="/assets/BBBeast_Logo_Icon.png" class="ms-3 img-fluid" width="50" alt="">
        <div class="d-flex justify-content-end w-100 me-5">           
            <div class="me-5">
                <a href="@Links.TWITTER" class="px-4"><HxIcon Icon=FontAwesomeIcon.Twitter /></a>
                <a href="@Links.DISCORD" class="px-4"><HxIcon Icon=FontAwesomeIcon.Discord /></a>
            </div>
        </div>
    </div>
</footer>
