@inherits LayoutComponentBase

<PageTitle>BB Beast</PageTitle>

<HxAnchorFragmentNavigation />
<HxMessenger Position="ToastContainerPosition.TopCenter" />

<NavMenu />

<div class="my-3 flex-grow-1">
    @Body
</div>

<Footer />

<ScrollToTop />