@page "/"

<div class="p-5 mb-4 bg-light border rounded-3">
    <h1>Project Page</h1>
    <p class="lead">To add some information about the project</p>
    <p class="lead">To add info on the roadmap</p>
</div>

