@page "/"

<div class="container">
    <div class="row align-items-center">
        <div class="col-5 align-self-start">
            <img class="mb-4 img-fluid" src="/assets/BBBeast_Header.png" alt="">
            <p>
                BB Beast is 9,999 randomly generated beasts all with unique attributes with different rarities.
            </p>

            <p>Visit us on <a href="https://testnets.opensea.io/collection/bbbeast">OpenSea</a>!</p>

            <p>This is what our roadmap looks like</p>

            <p>TODO: </p>
            <p>Update minting page to wait for transaction to finish?</p>
            <p>Need to fill in Home page</p>
            <p>Need to fillin/ remove about page</p>
            <p>Need to create gallery functionality</p>
            <p>Need to show hashes for all in provenance hash page</p>
        </div>
        <div class="col-7">
            <BeastCarousel />
        </div>
    </div>
    <div class="row">
        <Timeline />
    </div>
</div>
