@page "/"

<div class="container">
    <div class="row align-items-start">
        <div class="col-4 align-middle">
            <h1>BB Beasts</h1>
            <p>BB Beast is 10,000 randomly generated beasts all with unique attributes with different rarities.</p>
        </div>
        <div class="col-8">
            <BeastCarousel />
        </div>
    </div>
    <div class="row">
        <p>Visit us on <a href="https://testnets.opensea.io/collection/bbbeast">OpenSea</a>!</p>
    </div>
    <div class="row">
        <p>This is what our roadmap looks like</p>
    </div>
</div>
