@page "/"

<div class="container">
    <div class="row align-items-center">
        <div class="col-5">
            <h1 class="mb-4">BB Beasts</h1>
            <p>BB Beast is 10,000 randomly generated beasts all with unique attributes with different rarities.</p>
        </div>
        <div class="col-7">
            <BeastCarousel />
        </div>
    </div>
    <div class="row">
        <p>Visit us on <a href="https://testnets.opensea.io/collection/bbbeast">OpenSea</a>!</p>
    </div>
    <div class="row">
        <p>This is what our roadmap looks like</p>
    </div>

    <div class="row">
        <p>TODO: </p>
        <p>Need logo for top right</p>
        <p>Need to fill in Home page</p>
        <p>Need to fillin/ remove about page</p>
        <p>Need to create gallery functionality</p>
        <p>Need to show hashes for all in provenance hash page</p>
    </div>
</div>
