@page "/"
@using MetaMask.Blazor
@using MetaMask.Blazor.Enums
@using MetaMask.Blazor.Exceptions;
@using System.Numerics

@inject IToastService _toastService
@inject INFTEncoding _nftEncoding
@inject INFTQuery _nftQuery
@inject MetaMaskService _metaMaskService
@inject Web3Options _web3Options

<PageTitle>NFT</PageTitle>

<div class="container">
    <div class="row">
       @if (!hasMetaMask)
       {
            <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
        }
        else if (string.IsNullOrEmpty(selectedAddress))
        {
            <button @onclick="ConnectWallet">Connect Wallet</button>
        }
        else if(_web3Options.ChainId != chainId)
        {
            <p>Wrong network selected. Please change to @_web3Options.Network</p>
        }
        else
        {
            <div class="row">
                <p>Create minting transaction below</p>
                <p>Selected Address: @selectedAddress</p>
                <p>Minted: @accountMinted / @_web3Options.MaxMintCount</p>
            </div>
            <div class="row">
                <input type="number" @bind=mintCount />
                <button @onclick="Mint">Mint</button>
            </div>
        }
    </div>
</div>


@code{
    private bool hasMetaMask;
    private string selectedAddress;
    private long chainId = -1;
    private int mintCount = 1;
    private BigInteger accountMinted = 0;

    protected async override Task OnInitializedAsync()
    {
        MetaMaskService.AccountChangedEvent += AccountChanged;
        MetaMaskService.ChainChangedEvent += ChainChanged;

        hasMetaMask = await _metaMaskService.HasMetaMask();
        if (hasMetaMask) await _metaMaskService.ListenToEvents();

        bool isSiteConnected = await _metaMaskService.IsSiteConnected();
        if (isSiteConnected)
        {
            await GetSelectedAddress();
            await GetSelectedNetwork();
        }
    }

    private async Task Mint()
    {
        try
        {
            BigInteger weiValue = BigInteger.Multiply(10000000000000000, mintCount);
            string data = _nftEncoding.GetMintFunctionEncoding(mintCount);

            data = data[2..]; //Remove the 0x from the generated string
            var result = await _metaMaskService.SendTransaction(_web3Options.ContractAddress, weiValue, data);
            _toastService.ShowSuccess($"Transaction sent: {result}");
        }
        catch (UserDeniedException)
        {
            _toastService.ShowError("User denied the transaction");
        }
        catch (Exception ex)
        {
            _toastService.ShowError($"Unhandled exception: {ex}");
        }
    }

    private async Task ConnectWallet()
    {
        await _metaMaskService.ConnectMetaMask();
        await GetSelectedAddress();
        await GetSelectedNetwork();
    }

    private async Task GetSelectedAddress()
    {
        selectedAddress = await _metaMaskService.GetSelectedAddress();
        if (!string.IsNullOrEmpty(selectedAddress))
        {
            accountMinted = await _nftQuery.GetNFTCount(selectedAddress);
        }
    }

    private async Task GetSelectedNetwork()
    {
        var chainInfo = await _metaMaskService.GetSelectedChain();
        chainId = chainInfo.chainId;
    }

    private async Task AccountChanged(string t)
    {
        if(string.IsNullOrEmpty(t))
        {
            selectedAddress = null;
            _toastService.ShowWarning("Wallet signed out");  
        }
        else
        {
            await GetSelectedAddress();
        }
        StateHasChanged();
    }

    private async Task ChainChanged((long, Chain) t)
    {
        _toastService.ShowWarning("Chain Changed");
        await GetSelectedNetwork();
        StateHasChanged();
    }
}
