<div class="container-fluid">
    <div class="row gx-0">
        <img src="@AssetFolder/1.png" class="d-inline-block" />     
        <img src="@AssetFolder/2.png" class="d-inline-block" />
    </div>
    <div class="row gx-0">
        <img src="@AssetFolder/3.png" class="d-inline-block"  />     
        <img src="@AssetFolder/4.png" class="d-inline-block" />
    </div>
</div>

@code{
    [Parameter]
    public string? AssetFolder { get; set; }
}